* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Varela Round", sans-serif;
    background-color: #ffffff; /*#1A5F7A;*/
}

.form {
    background-image: linear-gradient(#548cff, #7900ff);
    width: 400px; /*Play around with this*/
    height: 600px; /*Play around with this*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 16px; /*play around with this*/
    padding: 120px 50px; /*play around with this*/
    box-shadow: 2px 2px 8px #000;
    outline: #1a5f7a;
}

.form h1 {
    color: white;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 3rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    border-bottom: 1px solid rgba(231, 231, 231, 0.8);
}

.inputs:hover {
    border-bottom: 3px solid #ffffff;
    transition: 0.2s ease-in-out;
}

#loginName,
#username::placeholder {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0.5rem;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    background: none;
}

#loginPassword,
#password::placeholder {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0.5rem;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    background: none;
}

.form button {
    width: 100%;
    background: white;
    border: none;
    border-radius: 30px;
    padding: 14px 14px;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
    text-transform: uppercase; /*change?*/
    color: #7900ff;
    outline: none;
    cursor: pointer;
    font-family: "Varela Round", sans-serif;
}

.form button:hover {
    width: 100%;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 14px 14px;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
    text-transform: uppercase; /*change?*/
    color: #ffffff;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

p {
    color: #ffffff;
    font-size: 0.9rem;
    margin-bottom: 10;
}

/*body
{
    background-color: #ffffff;
}


.form-box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: #B1D0E0;
  border-radius: 25px;
  padding: 5px;
}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#title
{
    font-size: 40px;
    width: 100%;
    margin: 2% 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

#loginDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons {
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    font-family: "Ubuntu", sans-serif;
}

.buttons:hover {
    background-color: #00d5124f;
    color: #ffffff;
    opacity: 50%;
}

#loginName {
    font-size: 30px;
}
#loginPassword {
    font-size: 30px;
}
#searchText {
    font-size: 30px;
}
#colorText {
    font-size: 30px;
}

input[type="text"],
input[type="password"] {
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: "Ubuntu", sans-serif;
}

#inner-title {
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: "Ubuntu", sans-serif;
    color: #95060a;
}

#loginResult {
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: "Ubuntu", sans-serif;
    color: #95060a;
}

#userName {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton {
    width: 20%;
    margin-left: 40%;
    text-align: center;
}

select {
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: "Ubuntu", sans-serif;
}

#contactSearchResult {
    display: none;
}

#contactAddResult {
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: "Ubuntu", sans-serif;
    color: #95060a;
}*/
