body {
    background-color: #1c2321;
}

html,
body {
    display: flex;
    height: 100%;
    width: 60%;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #a9b4c2;
}

.buttons {
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    font-family: "Ubuntu", sans-serif;
}

.buttons:hover {
    background-color: #00d5124f;
    color: #ffffff;
    opacity: 50%;
}

#loginName {
    font-size: 30px;
}
#loginPassword {
    font-size: 30px;
}
#searchText {
    font-size: 30px;
}
#colorText {
    font-size: 30px;
}

input[type="text"],
input[type="password"] {
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: "Ubuntu", sans-serif;
}

#inner-title {
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: "Ubuntu", sans-serif;
    color: #95060a;
}

#loginResult {
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: "Ubuntu", sans-serif;
    color: #95060a;
}

#userName {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton {
    width: 20%;
    margin-left: 40%;
    text-align: center;
}

select {
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: "Ubuntu", sans-serif;
}

#contactSearchResult {
    display: none;
}

#contactAddResult {
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: "Ubuntu", sans-serif;
    color: #95060a;
}
