/* Contact Spread */
.grid-item {
    width: 400px;
}

/* Data shown when contact is expanded */
#info-grid {
    position: absolute;
    top: 70px;
    left: 30px;
    color: #eee;
    display: none;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    grid-auto-rows: minimax(100px, auto);
}

.g {
    text-align: right;
    font-size: 1rem;
}

.g-i {
    text-align: left;
    font-size: 1rem;
}

.contactDiv1 {
    background: linear-gradient(#548cff, #24272b);
    width: 400px;
    height: 200px;
    border-radius: 15px;
    border: 4px solid #24272b;
    margin-bottom: 20px;
    padding: 10px 20px;
    position: relative;
}

.contactDiv2 {
    background: linear-gradient(#EA4C46, #24272b);
    width: 400px;
    height: 200px;
    border-radius: 15px;
    border: 4px solid #24272b;
    margin-bottom: 20px;
    padding: 10px 20px;
    position: relative;
}

.contactDiv3 {
    background: linear-gradient(#57C84D, #24272b);
    width: 400px;
    height: 200px;
    border-radius: 15px;
    border: 4px solid #24272b;
    margin-bottom: 20px;
    padding: 10px 20px;
    position: relative;
}

.contactDiv4 {
    background: linear-gradient(#FFAD60, #24272b);
    width: 400px;
    height: 200px;
    border-radius: 15px;
    border: 4px solid #24272b;
    margin-bottom: 20px;
    padding: 10px 20px;
    position: relative;
}

/* Form inputs */
.fname,
.lname {
    font-size: 1.8rem;
    text-align: left;
    margin-left: 70px;
}

.contact-image {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: 4px solid;
    position: absolute;
    left: 15px;
    top: 10px;
}

.colorButton{
    height: 50px;
    width: 50px;
    border-radius: 2px;
    border: px solid;
    position: absolute;
    left: 15px;
    top: 65px;
    background-color: red;
}

.dropmenu {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: none;
}

.dropdownMenu {
    background-color: none;
}

.triple-dots {
    background-color: none;
    color: white;
    height: 22px;
    width: 22px;
}

.textBar {
    margin-left: 80px;
}

.fav {
    color: white;
    position: absolute;
    top: 120px;
    left: 25px;
    width: 30px;
    height: 30px;
}

.contactLowerBackground {
    /* background-color: #444; */
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 100px;
    width: 100%;
    border-radius: 15px 15px 5px 5px;
}

.dropButton {
    position: absolute;
    bottom: -20px;
    left: -3px;
    color: #eeeeee;
    background-color: #333;
    width: calc(100% + 6px);
    height: 28px;
    border-width: 0;
    border-radius: 15px;
    box-shadow: inset 0px 20px 10px -10px #444;
}

.notes {
    font-size: medium;
    position: absolute;
    left: 80px;
    top: 5px;
}
