* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Varela Round", sans-serif;
    background-color: #001030; /*#1A5F7A;*/
}

.form,
#formBackground {
    background-image: none;
    width: 400px; /*Play around with this*/
    height: 600px; /*Play around with this*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 16px; /*play around with this*/
    padding: 120px 50px; /*play around with this*/
    box-shadow: 2px 2px 8px #000;
    outline: #1a5f7a;
}

.name-header {
    font-family: "Zen Kurenaido", sans-serif;
    color: white;
    font-size: 2.8rem;
    text-align: center;
    margin-top: -4.5rem;
}

.login-h {
    color: white;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

#formBackground {
    background-image: linear-gradient(#548cff, #7900ff);
    opacity: 0.8;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    /* border-bottom: 1px solid rgba(231, 231, 231, 0.8); */
    border-bottom: 2px solid #ffffff66;
}

.inputs:hover {
    border-bottom: 2px solid #ffffff;
    transition: 0.2s ease-in-out;
}

#username,
#username::placeholder,
#password,
#password::placeholder {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: white;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    background: none;
}

.form button {
    width: 100%;
    background: white;
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 14px 14px;
    font-size: 0.9rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-weight: 500;
    text-transform: uppercase; /*change?*/
    color: #7900ff;
    outline: none;
    cursor: pointer;
    font-family: "Varela Round", sans-serif;
}

.form button:hover {
    background: transparent;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}

p,
#remember {
    color: #ffffff;
    font-size: 0.9rem;
}
