a,
a:focus,
a:hover {
    color: #fff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 0.05rem solid #fff;
}

html,
body {
    font-family: "Varela Round", sans-serif;
    height: 100%;
    /* background-color: #24272b; */
    background-image: linear-gradient(#24272b, #000000d7);
    transition: ease all 0.5s;
}

#bigdiv {
    box-shadow: inset 10px 10px 20px black;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    transition: ease all 0.5s;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

#siteName {
    color: #fff;
}

.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: 0.75rem 1.25rem;
    font-weight: 700;
}

/* Bottom page div */
.mastFoot {
    position: fixed;
    bottom: 0;
}

/* Shadowing for container */
.inner {
    padding-top: 50px;
}

#searchForm {
    width: 60%;
    display: inline-block;
}

.grid {
    place-self: center;
}

#contactPane {
    background-image: linear-gradient(#24272be3, #00000026);
    /* background-color: #24272b; */
    min-height: 50%;
    margin: 0 50px;
    border-radius: 15px;
    justify-content: center;
}

.contactPaneParent {
    width: 80%;
    display: inline-flex;
    flex: 2;
}

#edit-container {
    display: none;
    flex: 1;
    height: 500px;
    transition: display 2s ease;
}

.edit-form {
    padding: 60px 50px;
    margin: 0 auto;
    display: block;
    background-image: linear-gradient(#548cff, #24272b);
    border-radius: 16px;
    text-align: center;
    box-shadow: 2px 2px 8px #000;
    opacity: 0.8;
    height: 100%;
}

.editinputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    border-bottom: 1px solid rgba(231, 231, 231, 0.8);
}

.addContactButtons {
    width: 100%;
    background: white;
    border: none;
    border-radius: 30px;
    padding: 14px 14px;
    font-size: 0.9rem;
    /* margin-bottom: 1rem; */
    /* margin-top: 1.5rem; */
    font-weight: 500;
    text-transform: uppercase; /*change?*/
    color: #7900ff;
    outline: none;
    cursor: pointer;
    font-family: "Varela Round", sans-serif;
}

.edits,
.edits::placeholder {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: white;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.flex-container {
    display: flex;
    box-shadow: 0 10px 15px -15px black;
}
